.validation-summary-errors > ul {
  padding-left: 0;
  margin-bottom: 0;
}

.error-404 {
  margin-top: 60px;
  font-size: 260px;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  color: $primary;
}
