﻿@model LoginModel


<div class="login-page">
    <div class="loginblock">
    <div class="logo"></div>
    <h4>Հայաստանի ֆոնդային <br /> բորսա</h4>
    <form asp-route="Login" onsubmit="return validateForm(this);">
        <input type="hidden" asp-for="ReturnUrl" />
        @Html.Partial("_ValidationSummary")
        <div class="form-group">
            <!-- <label for="username">Օգտատեր</label> -->
            @*<input type="text" vtype="email" req="true" class="form-control" id="username">*@
            <input type="text" req="true" class="form-control" asp-for="Username" autofocus placeholder="Օգտատեր">
        </div>
        <div class="form-group">
            <!-- <label for="pwd">Գաղտնաբառ</label> -->
            @*<input type="password" req="true" class="form-control" id="pwd">*@
            <input type="password" req="true" class="form-control" asp-for="Password" autocomplete="off" placeholder="Գաղտնաբառ">
        </div>
        <button type="submit" class="btn login-btn">Մուտք</button>
    </form>
</div>
<div class="copyright">© 2019, The Armenia Securities Exchange. All Rights Reserved</div>
</div>
