[class^="amx-"],
[class*=" amx-"],
.amx-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.amx-timetable {
  &:before {
    content: $amx-timetable;
  }
}

.amx-save {
  &:before {
    content: $amx-save;
  }
}

.amx-announcement {
  &:before {
    content: $amx-announcement;
  }
}

.amx-user-settings {
  &:before {
    content: $amx-user-settings;
  }
}

.amx-staff-estate {
  &:before {
    content: $amx-staff-estate;
  }
}

.amx-stock {
  &:before {
    content: $amx-stock;
  }
}

.amx-estate {
  &:before {
    content: $amx-estate;
  }
}

.amx-dashboard {
  &:before {
    content: $amx-dashboard;
  }
}

.amx-sales {
  &:before {
    content: $amx-sales;
  }
}

.amx-setting {
  &:before {
    content: $amx-setting;
  }
}

.amx-yield {
  &:before {
    content: $amx-yield;
  }
}

.amx-bank-users {
  &:before {
    content: $amx-bank-users;
  }
}

.amx-bank {
  &:before {
    content: $amx-bank;
  }
}

.amx-home_garden {
  &:before {
    content: $amx-home_garden;
  }
}

.amx-chevron-down {
  &:before {
    content: $amx-chevron-down;
  }
}

.amx-chevron-up {
  &:before {
    content: $amx-chevron-up;
  }
}

.amx-chevron-left {
  &:before {
    content: $amx-chevron-left;
  }
}

.amx-chevron-right {
  &:before {
    content: $amx-chevron-right;
  }
}

.amx-chevron-right-o {
  &:before {
    content: $amx-chevron-right-o;
  }
}

.amx-chevron-left-o {
  &:before {
    content: $amx-chevron-left-o;
  }
}

.amx-chevron-up-o {
  &:before {
    content: $amx-chevron-up-o;
  }
}

.amx-chevron-down-o {
  &:before {
    content: $amx-chevron-down-o;
  }
}

.amx-avatar {
  &:before {
    content: $amx-avatar;
  }
}

.amx-monitor {
  &:before {
    content: $amx-monitor;
  }
}

.amx-reporting {
  &:before {
    content: $amx-reporting;
  }
}

.amx-file-system {
  &:before {
    content: $amx-file-system;
  }
}

.amx-auction {
  &:before {
    content: $amx-auction;
  }
}

.amx-check {
  &:before {
    content: $amx-check;
  }
}

.amx-envelope {
  &:before {
    content: $amx-envelope;
  }
}

.amx-exel {
  &:before {
    content: $amx-exel;
  }
}

.amx-flock {
  &:before {
    content: $amx-flock;
  }
}

.amx-key-filled {
  &:before {
    content: $amx-key-filled;
  }
}

.amx-key-lock {
  &:before {
    content: $amx-key-lock;
  }
}

.amx-key-open {
  &:before {
    content: $amx-key-open;
  }
}

.amx-logout {
  &:before {
    content: $amx-logout;
  }
}

.amx-minus-o {
  &:before {
    content: $amx-minus-o;
  }
}

.amx-pencil {
  &:before {
    content: $amx-pencil;
  }
}

.amx-plus-o {
  &:before {
    content: $amx-plus-o;
  }
}

.amx-print {
  &:before {
    content: $amx-print;
  }
}

.amx-search {
  &:before {
    content: $amx-search;
  }
}

.amx-sun {
  &:before {
    content: $amx-sun;
  }
}

.amx-times {
  &:before {
    content: $amx-times;
  }
}

.amx-trash {
  &:before {
    content: $amx-trash;
  }
}

.amx-refresh {
  &:before {
    content: $amx-refresh;
  }
}

.amx-calendar {
  &:before {
    content: $amx-calendar;
  }
}

.amx-sorting-up {
  &:before {
    content: $amx-sorting-up;
  }
}

.amx-sorting-down {
  &:before {
    content: $amx-sorting-down;
  }
}

.amx-sorting {
  &:before {
    content: $amx-sorting;
  }
}
