// contains all the CSS that handles the layout, such as the container and any grid systems.
#root,
body,
html {
  width: 100%;
  height: 100%;
}

.page-layout {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  background-color: #fafafa;
}

.navbar-wrapper {
  background-color: $navbar-background;
}

.page-wrapper {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  background-color: $page-background;
}

.page-content {
  flex: 1 1 auto;
  display: flex;
  z-index: 3;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.page-navbar {
  display: flex;
  z-index: 4;
  flex-direction: column;
  transition: $navbar-folding-transition;

  // (min-width: 1280px)
  @media (min-width: 1200px) {
    width: $sidebar-width;
    min-width: $sidebar-width;

    &.folded {
      width: $sidebar-s-width;
      min-width: $sidebar-s-width;

      .logo {
        width: 55px;
      }
    }
  }
}

.page {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  z-index: 2;
  position: relative;
  overflow: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

.page-content-heading {
  width: 100%;
  padding: 25px 32px 25px 83px;
  background-color: #f0f2f3;
  margin-bottom: 1px;
  max-height: 77px;
}

.page-title {
  display: inline-block;
  font-size: 25px;
  color: #4c637b;
  margin: 0;
}

.page-content-wrapper {
  height: 100%;
  overflow: auto;
}

.page-content-container {
  width: 100%;
  padding: pxToRem(48px);
}

// $navbar-min-height;

@import "./layout/toolbar";
@import "./layout/footer";
