// Import project default colors
@import "variables/colors";

// Import icons
@import "variables/icons";

// Customized Bootstrap variables
@import "variables/bootstrap/variables";
@import "variables/react-toastify/variables";
@import "variables/react-datepicker/variables";

// project Variables

$navbar-folding-transition: width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
  min-width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
$portletBoxShadow: 2.735px 6.444px 7px 0 rgba(36, 36, 36, 0.05);
$navbar-background: darken($darkBg-200, 4%);

// Login Form
$login-form-width: 450px;

// navbar

$navbar-min-height: pxToRem(70px);

$sidebar-s-width: pxToRem(75px);
$sidebar-width: pxToRem(290px);
