.date-range {
  background-color: $white;
  display: flex;
  align-items: center;
  // max-width: 320px;

  .form-control {
    box-shadow: none;
  }

  .start-date {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    text-align: left;
  }

  .end-date {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    text-align: right;
  }

  .amx-calendar {
    padding: 6px;
    border: 1px solid $input-border-color;
  }
}
