.modal-93w {
  width: 93%;
  max-width: none !important;
}

.modal-body {
  padding: pxToRem(25px) pxToRem(25px) 1rem;
}

.modal {
  .center-title {
    border-bottom: 0;
    margin: pxToRem(20px) 0 0;
    justify-content: center;
    text-align: center;
    font-size: pxToRem(24px);
    position: relative;

    button {
      position: absolute;
      top: -5px;
      right: 15px;
      outline: none !important;
    }
  }
}

.modal-backdrop + .modal + .modal-backdrop {
  z-index: 1050;
}

.auction-form {
  .form-group {
    margin-bottom: pxToRem(8px);
  }
}

.bank-accounts {
  margin-top: pxToRem(20px);
  margin-bottom: pxToRem(10px);

  h3 {
    font-size: pxToRem(22px);
    margin-bottom: pxToRem(20px);
  }
}
