.navbar-wrapper {
  flex: 1 1 auto;
  width: $sidebar-width;
  height: 100%;
  display: flex;
  z-index: 4;
  overflow: hidden;
  min-width: $sidebar-width;
  transition: $navbar-folding-transition;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
  flex-direction: column;
  left: 0;

  &.folded {
    top: 0;
    width: $sidebar-s-width;
    bottom: 0;
    position: absolute;
    min-width: $sidebar-s-width;

    .navigation {
      .nav-link {
        border-radius: 0;
        position: relative;
      }

      .collapse-children {
        .nav-link {
          > i {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

.navigation {
  padding-top: pxToRem(20px);
  padding-bottom: pxToRem(8px);
  white-space: nowrap;

  .nav-item {
    width: 100%;
  }

  .nav-link {
    width: calc(100% - 16px);
    min-width: 74px;
    height: pxToRem(40px);
    border-radius: 0 pxToRem(20px) pxToRem(20px) 0;
    padding-left: pxToRem(25px);
    padding-right: pxToRem(12px);
    color: rgba($white, 0.5);
    transition: background 0.2s ease;
    user-select: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;

    > i {
      display: inline-block;
      font-size: pxToRem(25px);
      margin-right: pxToRem(20px);
      margin-left: 1px;
      min-width: pxToRem(30px);
      text-align: left;
    }

    .amx-chevron-down {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-size: 8px;
      position: absolute;
      right: 3px;
      top: 50%;
      margin-top: -8px;

      &:before {
        margin-top: 2px;
      }

      &:hover {
        background-color: lighten($darkBg-100, 10%);
      }
    }

    &:hover,
    &:active,
    &.active,
    &:focus {
      background-color: $darkBg-100;
      color: rgba($white, 0.7);
      text-shadow: 1px 1px 2px rgba($black, 0.5);
    }
  }

  .dropdown-divider {
    border-color: rgba(255, 255, 255, 0.12);
  }

  .collapse-children {
    background-color: darken($navbar-background, 2%);

    .nav-link {
      padding-left: pxToRem(75px);
      position: relative;

      > i {
        transition: all 0.2s;
        position: absolute;
        left: 29px;
        visibility: hidden;
        opacity: 0;
        font-size: 20px;
      }
    }
  }
}

.navbar-content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-toolbar {
  box-shadow: 0 0 7px $black;
}

.navbar-brand {
  margin-right: 0;

  .logo {
    transition: $navbar-folding-transition;
    margin-left: pxToRem(-5px);
  }
}
