$light: #efefef;
$color: #b3e5fc;

$width: 20px;
$height: 2px;
$distance: 7px;

.navbar-toggle-btn {
  transition-duration: 0.5s;
  position: relative;
  border: 0;
  height: 100%;
  width: auto;
  padding: 25px;
  margin-left: -1rem;

  .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    background-color: $white;

    &:before {
      transition-duration: 0.5s;
      position: absolute;
      width: $width;
      height: $height;
      background-color: $white;
      content: "";
      top: -$distance;
      left: 0;
    }

    &:after {
      transition-duration: 0.5s;
      position: absolute;
      width: $width;
      height: $height;
      background-color: $white;
      content: "";
      top: $distance;
      left: 0;
    }
  }

  &.folded {
    .icon {
      transition: 0.5s;

      &:before {
        width: $width - 6;
        transform: rotateZ(45deg) scaleX(0.75) translate(14px, -5px);
      }

      &:after {
        width: $width - 6;
        transform: rotateZ(-45deg) scaleX(0.75) translate(14px, 5px);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
