.portlet {
  margin-bottom: 40px;
  box-shadow: $portletBoxShadow;
  background-color: $white;

  > .portlet-title {
    padding: 20px 40px;
    background-color: #fafafb;
    display: flex;
    justify-content: space-between;

    .caption {
      display: inline-block;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: -0.01em;
      color: #4c637b;
      margin: 0;
    }

    .action {
      display: flex;
      align-items: center;

      .btn {
        text-decoration: none !important;
      }

      .toggle-collapse i {
        transition: transform 0.3s ease-in;
      }

      .toggle-collapse.show i {
        transform: rotateX(180deg);
      }
    }
  }
}

.portlet-body {
  padding: 20px 30px 35px 35px;
}
