.auction-table {
  > thead > tr > th {
    max-width: 150px;
  }

  > tbody td {
    vertical-align: middle;
  }
}

.table-filter {
  display: flex;
  align-items: center;

  .form-group {
    display: inline-flex;
    max-width: 200px;
    margin-right: pxToRem(10px);
  }

  .date-range {
    display: inline-flex;
  }
}

.actionlog-table {
  .action-details {
    width: 310px;
    overflow: hidden;
    display: inline-block;
  }
}

.bank-accounts-table {
  table-layout: fixed;

  > thead > tr > th {
    &:last-child {
      width: 80px;
    }
  }

  .btn-link {
    text-decoration: none !important;
  }
}
