input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group.required .form-label:after {
  content: "*";
  color: red;
  font-size: pxToRem(16px);
}
