.table-default,
.enhanced-table {
    &.table-borderless {
        th {
            border-bottom: 1px solid #ecf3f9;
        }
    }

    .table-sorting {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -10px;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &.no-dirty:before {
            content: $amx-sorting;
            visibility: hidden;
            opacity: 0;
            @extend .amx-icon;
        }
    }

    .table-action-btn {
        padding: pxToRem(3px);
        text-decoration: none;
        line-height: 1;
        opacity: 0;
        transition: opacity 0.2s ease;
        color: $danger;
    }

    .table-header-txt {
        display: inline-block;
        vertical-align: middle;
    }

    >tbody>tr {
        &:hover {
            .table-action-btn {
                opacity: 1;
            }
        }
    }

    >thead>tr>th {
        position: relative;
        vertical-align: middle;

        &:hover {
            >.table-sorting.no-dirty:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}