html,
body {
	height: 100%;
}

body {
	background: #d3dbe0;
	font-family: 'GHEAGrpalatReg';
	color: #284086;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.mainbody {
	padding: 0 0 50px;
}

div,
a,
input,
textarea,
select,
button,
td,
span {
	font-family: 'GHEAGrpalatReg';
}

a {
	color: #6d7073;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

@font-face {
	font-family: 'GHEAGrpalatReg';
	src: url('../fonts/GHEAGrpalatReg.eot');
	src: url('../fonts/GHEAGrpalatReg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GHEAGrpalatReg.woff') format('woff'),
		url('../fonts/GHEAGrpalatReg.ttf') format('truetype'),
		url('../fonts/GHEAGrpalatReg.svg#GHEAGrpalatReg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ArialAMU';
	src: url('../fonts/ArialAMU.eot');
	src: url('../fonts/ArialAMU.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArialAMU.woff') format('woff'), url('../fonts/ArialAMU.ttf') format('truetype'),
		url('../fonts/ArialAMU.svg#ArialAMU') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Login*/

.login-page {
	padding-top: 60px;
}

.loginblock {
	background: #fff;
	width: 480px;
	padding: 30px;
	margin: 0 auto 0;
	border-bottom: 3px #0b2c5b solid;
	box-shadow: 0 0 10px #ccc;
}

.copyright {
	padding: 14px;
	font-size: 12px;
	color: #395e80;
	text-align: center;
}

.loginblock .logo {
	background-image: url(../img/logo-blue.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 138px;
	height: 38px;
	padding: 10px 15px;
	margin-bottom: 30px;
}

.loginblock input {
	padding: 12px;
	height: auto;
}

.loginblock .form-group {
	margin: 0 0 20px;
}

.loginblock h4 {
	text-align: center;
	font-size: 18px;
	margin: 0 0 30px;
	line-height: 1.3;
}

.loginblock .form-group label {
	margin: 0 0 5px;
	color: #999;
	font-size: 14px;
}

.loginblock button.login-btn {
	width: 80%;
	border-radius: 30px;
	margin: 30px auto 30px;
	display: block;
	background: #0b2c5b;
	color: #fff;
	height: auto;
	cursor: pointer;
	padding: 12px;
}

.loginblock button.login-btn:hover {
	background: #082246;
}

.authentication input {
	text-align: center;
}