// stylelint-disable
// Bootstrap overrides

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: true;
$enable-grid-classes: true;
$enable-caret: true;
$enable-print-styles: true;

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-50;
$body-color: $gray-900;

// Links
//
// Style anchor elements.

$link-color: $gray-base;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: underline;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem;

// Components
//
// Define common padding and border radius sizes and more.

$border-color: $gray-300;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base: "Verdana";
$font-size-base: 0.875rem;

// Breadcrumbs

$breadcrumb-bg: #fff;
$breadcrumb-margin-bottom: 1.5rem;
$breadcrumb-border-radius: 0;

// Cards

$card-border-color: $gray-300;
$card-cap-bg: $gray-100;

// Dropdowns

$dropdown-padding-y: 0;
$dropdown-border-color: $gray-300;
$dropdown-divider-bg: $gray-200;

// Buttons

$btn-secondary-border: $gray-300;
$btn-font-size-lg: pxToRem(14px);
$btn-focus-box-shadow: none;

// Progress bars

$progress-bg: $gray-100;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-accent-bg: rgba(220, 228, 235, 0.3);
$table-bg-accent: $gray-100;
$table-bg-hover: $gray-100;
$table-color: $darkBlue;
// $table-border-width: 1px;
$table-striped-order: even;
// $table-hover-color:
$table-hover-bg: rgba(220, 228, 235, 0.6);

// Forms

$input-group-addon-bg: $gray-100;
$input-border-color: rgba(190, 196, 199, 0.32);
$input-group-addon-border-color: $gray-200;

$input-height-lg: pxToRem(42px);
$input-font-size-lg: pxToRem(14px);
$input-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
  0 0 8px rgba(102, 175, 233, 0.6);
$input-focus-border-color: rgba(102, 175, 233, 0.6);
$input-disabled-bg: $gray-901;
$input-color: #8fa4b9;

// navbar

$navbar-light-color: $primary;
$navbar-light-hover-color: darken($primary, 15%);

$navbar-light-color: $gray-base;
$navbar-light-hover-color: darken($gray-base, 15%);

// Grid columns
//

// $grid-columns:                12 !default;
$grid-gutter-width: 16px !default;
