@font-face {
  font-family: 'siteIcons';
  src:  url('fonts/siteIcons.eot?vnsxyj');
  src:  url('fonts/siteIcons.eot?vnsxyj#iefix') format('embedded-opentype'),
    url('fonts/siteIcons.ttf?vnsxyj') format('truetype'),
    url('fonts/siteIcons.woff?vnsxyj') format('woff'),
    url('fonts/siteIcons.svg?vnsxyj#siteIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="amx-"], [class*=" amx-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'siteIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.amx-timetable:before {
  content: "\e92f";
}
.amx-save:before {
  content: "\e92e";
}
.amx-announcement:before {
  content: "\e92b";
}
.amx-user-settings:before {
  content: "\e925";
}
.amx-staff-estate:before {
  content: "\e927";
}
.amx-stock:before {
  content: "\e928";
}
.amx-estate:before {
  content: "\e929";
}
.amx-dashboard:before {
  content: "\e92a";
}
.amx-sales:before {
  content: "\e92c";
}
.amx-setting:before {
  content: "\e92d";
}
.amx-yield:before {
  content: "\e926";
}
.amx-bank-users:before {
  content: "\e905";
}
.amx-bank:before {
  content: "\e907";
}
.amx-home_garden:before {
  content: "\e906";
}
.amx-chevron-down:before {
  content: "\e910";
}
.amx-chevron-up:before {
  content: "\e912";
}
.amx-chevron-left:before {
  content: "\e914";
}
.amx-chevron-right:before {
  content: "\e916";
}
.amx-chevron-right-o:before {
  content: "\e90e";
}
.amx-chevron-left-o:before {
  content: "\e918";
}
.amx-chevron-up-o:before {
  content: "\e91a";
}
.amx-chevron-down-o:before {
  content: "\e91c";
}
.amx-avatar:before {
  content: "\e904";
}
.amx-monitor:before {
  content: "\e908";
  color: #5d5d5d;
}
.amx-reporting:before {
  content: "\e909";
}
.amx-file-system:before {
  content: "\e900";
}
.amx-auction:before {
  content: "\e901";
}
.amx-check:before {
  content: "\e902";
}
.amx-envelope:before {
  content: "\e903";
}
.amx-exel:before {
  content: "\e90a";
}
.amx-flock:before {
  content: "\e90b";
}
.amx-key-filled:before {
  content: "\e90c";
}
.amx-key-lock:before {
  content: "\e90d";
}
.amx-key-open:before {
  content: "\e90f";
}
.amx-logout:before {
  content: "\e911";
}
.amx-minus-o:before {
  content: "\e913";
}
.amx-pencil:before {
  content: "\e915";
}
.amx-plus-o:before {
  content: "\e917";
}
.amx-print:before {
  content: "\e919";
}
.amx-search:before {
  content: "\e91b";
}
.amx-sun:before {
  content: "\e91d";
}
.amx-times:before {
  content: "\e91e";
}
.amx-trash:before {
  content: "\e91f";
}
.amx-refresh:before {
  content: "\e920";
}
.amx-calendar:before {
  content: "\e921";
}
.amx-sorting-up:before {
  content: "\e922";
}
.amx-sorting-down:before {
  content: "\e923";
}
.amx-sorting:before {
  content: "\e924";
}
