$icomoon-font-family: "siteIcons" !default;
$icomoon-font-path: "fonts" !default;

$amx-timetable: "\e92f";
$amx-save: "\e92e";
$amx-announcement: "\e92b";
$amx-user-settings: "\e925";
$amx-staff-estate: "\e927";
$amx-stock: "\e928";
$amx-estate: "\e929";
$amx-dashboard: "\e92a";
$amx-sales: "\e92c";
$amx-setting: "\e92d";
$amx-yield: "\e926";
$amx-bank-users: "\e905";
$amx-bank: "\e907";
$amx-home_garden: "\e906";
$amx-chevron-down: "\e910";
$amx-chevron-up: "\e912";
$amx-chevron-left: "\e914";
$amx-chevron-right: "\e916";
$amx-chevron-right-o: "\e90e";
$amx-chevron-left-o: "\e918";
$amx-chevron-up-o: "\e91a";
$amx-chevron-down-o: "\e91c";
$amx-avatar: "\e904";
$amx-monitor: "\e908";
$amx-reporting: "\e909";
$amx-file-system: "\e900";
$amx-auction: "\e901";
$amx-check: "\e902";
$amx-envelope: "\e903";
$amx-exel: "\e90a";
$amx-flock: "\e90b";
$amx-key-filled: "\e90c";
$amx-key-lock: "\e90d";
$amx-key-open: "\e90f";
$amx-logout: "\e911";
$amx-minus-o: "\e913";
$amx-pencil: "\e915";
$amx-plus-o: "\e917";
$amx-print: "\e919";
$amx-search: "\e91b";
$amx-sun: "\e91d";
$amx-times: "\e91e";
$amx-trash: "\e91f";
$amx-refresh: "\e920";
$amx-calendar: "\e921";
$amx-sorting-up: "\e922";
$amx-sorting-down: "\e923";
$amx-sorting: "\e924";

