// Color system
// stylelint-disable

$white: #fff;
$gray-base: #333;
$gray-50: #f1f1f1;
$gray-100: #f0f3f5;
$gray-200: #ccc;
$gray-300: #dbd4d4;
$gray-400: #acb4bc;
$gray-500: #8f9ba6;
$gray-600: #73818f;
$gray-700: #5c6873;
$gray-800: #2f353a;
$gray-900: #292b2c;
$gray-901: #eeeeee;
$black: #000;

// project
$page-background: #d7dfe3;
$darkBg-100: #2f334b;
$darkBg-200: #292c3f;
$darkBlue: #4c637b;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
);

$blue: #0b2c5b;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e10003;
$orange: #f8cb00;
$yellow: #fed831;
$green: #3da08b;
$teal: #20c997;
$cyan: #17a2b8;
$light-blue: #4eb7ec;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "light-blue": $light-blue,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$primary: $blue;
$secondary: $gray-300;
$success: $green;
$info: $light-blue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray": $gray-901,
);
