@font-face {
    font-family: 'siteIcons';
    src: url('./siteIcons/fonts/siteIcons.eot?mn8rtt');
    src: url('./siteIcons/fonts/siteIcons.eot?mn8rtt#iefix') format('embedded-opentype'),
        url('./siteIcons/fonts/siteIcons.ttf?mn8rtt') format('truetype'),
        url('./siteIcons/fonts/siteIcons.woff?mn8rtt') format('woff'),
        url('./siteIcons/fonts/siteIcons.svg?mn8rtt#abbicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}